/* ------------------------------------------ Экран 1300 */

@media (max-width: 1300px) {
    .picture__ellipse_1920 {
        display: none;
    }

    .picture__ellipse_1024 {
        display: inline-block;      
    }

    .presentation__foto {
        margin-left: 0;
    }

    .picture {
        padding-top: 105px;
    }

    .examples__works {
        margin-bottom: 101px;
    }

    .examples__works_title {
        margin-top: 19px;

        font-size: 25px;
    }

    .swiper-button-prev, .swiper-button-next {
        display: none;
    }

    .swiper-pagination {
        display: inline-block;

        margin-bottom: 104px;
    }

    .examples__order {
        padding: 24px 90px 23px 90px;
    }

    .examples__order:hover {
        padding: 23px 89px 22px 89px;
    }

    .element-7 {
        top: 30px;
    }

    .element-8, .element-11 {
        display: none;
    }

    .element-9 {
        top: 281px;
    }

    .element-10 {
        right: 600px;
    }

    .header-menu__telefone {
        flex-basis: 32%;
    }

    .presentation__about_name {
        min-width: 489px;
        max-height: 52px;

        margin-top: 10px;
    
        font-size: 54px;
    }

    .presentation__about_profession {
        margin-top: 40px;
        margin-bottom: 72px;
    }

    .presentation__about_more {
        padding: 25px 96px 21px 97px;
    }

    .presentation__about_more:hover {
        padding: 24px 95px 20px 96px;
    }

    .element-1, .element-2 {
        display: none;
    }

    @keyframes element-3 {
        from {
            left: 200px;
            top: 350px;   
        }
    
        to {
            left: 360px;
            top: 459px;
        }
    }

    .element-3 {
        left: 360px;
        top: 459px;
    }

    @keyframes element-4 {
        from {
            left: 200px;
            top: 350px;   
        }
    
        to {
            left: 58px;
            top: 506px;
        }
    }

    .element-4 {
        left: 58px;
        top: 506px;
    }

    @keyframes element-5 {
        from {
            left: 200px;
            top: 350px;   
        }
    
        to {
            left: 77px;
            top: 26px;
        }
    }

    .element-5 {
        left: 77px;
        top: 26px;
    }

    .element-6 {
        display: inline-block;
    }
}

/* ------------------------------------------ Экран 1024 */

@media (min-width: 1025px) {
    .menu__list {
        display: none !important;
    }
}

@media (max-width: 1024px) {
    .header-menu__menu {
        display: none;
    }

    .header-menu__burger-menu {
        display: flex;
    }

    .header-menu__telefone {
        letter-spacing: 0;
    }  

    @keyframes element-1 {
        from {
            left: 200px;
            top: 350px;   
        }
    
        to {
            left: 887px;
            top: 22px;
        }
    }

    @keyframes element-3 {
        from {
            left: 160px;
            top: 300px;
        }
    
        to {
            left: 360px;
            top: 359px;
        }
    }

    @keyframes element-4 {
        from {
            left: 140px;
            top: 300px;
        }
    
        to {
            left: 58px;
            top: 350px;
        }
    }

    @keyframes element-5 {
        from {
            left: 100px;
            top: 300px;
        }
    
        to {
            left: 77px;
            top: 10px;
        }
    }
    
    .activity__block {
        padding-bottom: 24px;
    }

    .activity__block figure {
        flex-basis: 50%;    
    }

    .activity__price {
        padding: 24px 85px 22px 83px;
    }

    .activity__price:hover {
        padding: 23px 84px 21px 82px;
    }

    .activity__block_title {
        margin-top: 12px;
        padding: 0 70px 78px 70px;
    }

    #examples__container {
        padding: 97px 0 107px 0;
    }

    .element-7 {
        left: 156px;
        top: 23px;

        font-size: 33px;
    }

    .element-9 {
        right: 96px;
        top: 292px;

        font-size: 38px;
    }

    .footer__container {
        padding-top: 99px;
    }

    .footer__container div {
        padding: 0;
    }

    .footer__contacts {
        padding-left: 22px;
    }

    .header-menu__telefone {
        flex-basis: 60%;
    }   
    
    .presentation__foto img {
        width: 300px;
    }

    .presentation__about {
        padding-top: 50px;
    }

    .presentation__about_name {   
        min-width: 400px;

        font-size: 45px;
    }

    .picture__ellipse_1024 {
        width: 450px;
    }

    .picture {
        padding: 0;

        height: 432px;
    }

    .element-1 {
        left: 487px;
        top: 10px;
    }

    .element-3 {
        top: 359px;
    }

    .element-4 {
        top: 350px;
    }

    .element-5 {
        top: 10px;
    }

    .element-6, .element-10 {
        display: none;
    }
}

/* ------------------------------------------ Экран 768 */

@media (max-width: 768px) {
    .header-menu__burger-menu {
        flex-basis: 25%;
    }   

    .menu__list {
        width: 90%;
        height: 469px;
    }

    .menu__list li {
        font-size: 30px;
    }

    .menu__list_portfolio {
        padding-left: 60px;
    }
    
    .menu__list_price {
        padding-left: 55px;
    }

    .presentation {
        justify-content: center;
    }

    .presentation__about {
        display: none;
    }
    

    .presentation__about_768 {
        display: flex;
    }

    .presentation__foto {
        text-align: center;
    }

    .presentation__about_name {
        text-align: center;

        min-width: 0;

        margin: 0;

        line-height: 45px;
    }

    .presentation__about_profession {
        margin-top: 20px;
        margin-bottom: 46px;

        font-size: 18px;
        line-height: 18px;

        text-align: center;  
    }

    .presentation__about_more {      
        padding: 17px 83px 18px 83px;

        font-size: 16px;  
        
        line-height: 16px;    
    }

    .presentation__about_more:hover {
        padding: 16px 82px 17px 82px;
    }

    .presentation__about_768 div {
        text-align: center;
    }

    .picture {
        bottom: 0;

        height: 400px;
    }

    .picture__ellipse_1024 {
        width: 800px;
        height: 400px;
    }

    .activity__block_title {
        padding: 0 40px 78px 40px;
    }

    .price__text-1 {
        font-size: 35px; 
    }

    .footer__menu {
        font-size: 15px;
    }

    .telefone, .malito {
        font-size: 20px;
        color: #8993ad;
    }

    .footer__contacts {
        font-size: 15px;
    }

    .element-3 {
        display: none;
    }

    @keyframes element-4 {
        from {
            left: 300px;
            top: 550px;
        }
    
        to {
            left: 58px;
            top: 350px;
        }
    }

    @keyframes element-5 {
        from {
            left: 300px;
            top: 550px;
        }
    
        to {
            left: 77px;
            top: 10px;
        }
    }
}

/* ------------------------------------------ Экран 640 */

@media (max-width: 640px) {
    .header-menu__burger-menu {
        flex-basis: 25%;
    }   

    .header-menu__telefone {
        min-width: 150px;

        font-size: 18px;

        flex-basis: 80%;
    } 

    .burger span, .burger__close span {
        margin-bottom: 4.5px;
    
        height: 3px;
        width: 24px;
    }

    .burger__close :nth-child(1) {
        top: 7.5px;
    }

    .menu__list {
        margin-top: -40px;

        width: 85%;
        height: 479px;
    }

    .menu__list li {
        font-size: 25px;
    }

    .menu__list_portfolio {
        padding-left: 55px;
    }

    .header-menu__call {
        padding: 10px 20px 8px 19px;

        min-width: 160px;

        font-size: 14px;
    }

    .element-1, .element-7, .element-9 {
        display: none;
    }

    .element-3 {
        display: block;
    }

    @keyframes element-3 {
        from {
            left: 300px;
            top: 550px;
        }
    
        to {
            left: 250px;
            top: -50px;
        }
    }

    .element-3 {
        left: 250px;
        top: -50px;

        font-size: 30px;
    }

    @keyframes element-4 {
        from {
            left: 300px;
            top: 550px;
        }
    
        to {
            left: 38px;
            top: 55px;
        }
    }

    .element-4 {
        left: 38px;
        top: 55px;

        font-size: 30px;
    }

    @keyframes element-5 {
        from {
            left: 300px;
            top: 550px;
        }
    
        to {
            left: 48px;
            top: -54px;
        }
    }

    .element-5 {
        left: 48px;
        top: -54px;

        font-size: 25px;
    }

    .activity__title {
        font-size: 40px;
    }

    .activity__block figure {
        flex-basis: 100%;
    }

    .activity__picture {
        width: 70px;
        height: 65px;
    }

    .activity__block_title {
        padding: 0 50px 78px 50px;

        font-size: 18px;
    }

    .activity__price {
        font-size: 16px;

        padding: 19px 72px 17px 72px;
    }

    .activity__price:hover {
        padding: 18px 71px 16px 71px;
    }

    .examples__title {
        font-size: 40px;
    }

    .examples__works {
        margin: 45px 0 21px 0;
    }

    .examples__order {
        padding: 18px 78px 18px 77px;

        font-size: 16px;
    }

    .examples__order:hover {
        padding: 17px 77px 17px 76px;
    }

    .swiper-pagination {
        margin-bottom: 47px;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;

        margin-right: 16px;
    }

    .footer__container {
        flex-direction: column;

        padding-bottom: 48px;
    }

    .footer__container div {
        text-align: center;
    }

    .footer__menu {
        text-align: center;
    }

    .footer__contacts {
        padding-left: 0;
        padding-top: 28px;

        text-align: center;
    }

    .footer__contacts li {
        padding-bottom: 26px;
    }

    .footer__call {
        padding: 21px 76px 18px 76px;

        max-height: 60px;

        color: #ffffff;
        background-color: #ff4e2e;

        border: none;
    }

    .footer__call:hover {
        color: #ff4e2e;
        background-color: #ffffff;

        border: 1px solid #ff4e2e;

        padding: 20px 75px 17px 75px;
    }

    .footer__social {
        margin-top: 50px;
    }

    .footer__copyright {
        font-size: 14px;

        padding: 25px 0 20px 0;
    }

    .header-menu__call {
        display: none; 
    }

    .header-menu__call-mobile {
        display: flex;
    }  

    .presentation__about_name {
        font-size: 30px;
        line-height: 30px;
    }

    .presentation__about_profession {
        font-size: 16px;
        line-height: 16px;

        margin-top: 15px;
    }

    .element-2 {
        left: 304px;
    }

    .price__text-1 {
        font-size: 28px;
        line-height: 1.43;
    }

    .price__text-2 {
        font-size: 15px;
        line-height: 2;

        margin-top: 33px;
    }

    .input__form {
        width: 100%;

        font-size: 16px;
    }

    .input__form_close {
        width: 20px;
        height: 20px;

        right: 20px;
    }

    .input__form_close span {
        width: 20px;
    }

    .agree__form {
        font-size: 16px;
    }
}

/* ------------------------------------------ Экран 360 */

@media (max-width: 360px) {
    .fixed-container {
        padding: 0 20px;
    }  

    .header-menu__container {
        padding-top: 30px;
        padding-bottom: 56px;
    }

    .menu__list li {
        font-size: 18px;
    }

    .menu__list_portfolio {
        padding-left: 38px;
    }
    
    .menu__list_price {
        padding-left: 38px;
    }

    .presentation__about_768 {
        padding-top: 16px;
        padding-bottom: 21px;
    }  

    .element-2 {
        left: 204px;
    }

    #price__container {
        padding-bottom: 114px;
    }

    .footer__container {
        padding-top: 47px;
        padding-bottom: 48px;
    }

    .input__form {
        font-size: 14px;
    }

    .input__form_submit {
        font-size: 16px;
    }

    .input__form_input span {
        display: none;
    }

    @keyframes element-3 {
        from {
            left: 160px;
            top: 450px;
        }
    
        to {
            left: 250px;
            top: -50px;
        }
    }

    .element-4 {
        display: none;
    }

    @keyframes element-5 {
        from {
            left: 100px;
            top: 450px;
        }
    
        to {
            left: 48px;
            top: -54px;
        }
    }

    .agree__form {
        font-size: 14px;
    }
}

/* ------------------------------------------ Экран 320 */

@media (max-width: 320px) {
    .header-menu__container {
        padding-bottom: 89px;
    }

    .menu__list {
        width: 320px;
        height: 390px;

        margin-top: -60px;
    }

    .presentation__foto {
        margin-left: 50px;
    }

    .picture__ellipse_1024 {
        display: none;
    }

    .picture__ellipse_320 {
        display: inline-block;
    }

    .presentation__foto img {
        width: 224px;
    }

    .picture {
        height: 294px;
    }

    @keyframes element-2 {
        from {
            left: 160px;
            top: 450px;
        }
    
        to {
            left: 244px;
            top: -2px;
        }
    }

    @keyframes element-3 {
        from {
            left: 160px;
            top: 450px;
        }
    
        to {
            left: 173px;
            top: -65px;
        }
    }

    .element-3 {
        left: 173px;
        top: -65px;
    }

    .element-4 {
        display: block;
    }

    @keyframes element-4 {
        from {
            left: 140px;
            top: 450px;
        }
    
        to {
            left: 38px;
            top: 55px;
        }
    }

    #activity__container {
        padding: 41px 0 49px 0;
    }

    .activity__title {
        font-size: 30px;
    }

    .activity__block {
        padding: 45px 0 4px 0;
    }

    .activity__picture {
        width: 61px;
        height: 56px;
    }

    .activity__block_title {
        padding: 0 35px 50px 35px;

        font-size: 16px;
    }

    #examples__container {
        padding: 46px 0 50px 0;
    }

    .examples__title {
        font-size: 30px;
    }

    .examples__works_title {
        margin-top: 12px;

        font-size: 18px;
    }

    #price__container {  
        padding-top: 41px;
        padding-bottom: 114px;
    }

    #price__container div {
        padding: 0 20px;
    }

    .footer__menu, .footer__contacts {
        text-align: left;
    }

    .footer__social {
        padding-right: 79px;
    }

    .footer__copyright {
        padding: 20px 0 18px 0;

        font-size: 12px;
    }
}
